@*  Authors & Student Number:
    Mayank Raval 200300508
    Fei Wang 200278460
    Mayank Bhardwaj 200305245
    Siqian Yu 200286902
    Date Modified: 08-05-2016
    File Description: This is the About view page.
    *@

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
