@*  Authors & Student Number:
    Mayank Raval 200300508
    Fei Wang 200278460
    Mayank Bhardwaj 200305245
    Siqian Yu 200286902
    Date Modified: 08-05-2016
    File Description: This is the About page.
*@
@{
    ViewBag.Title = "About";
}


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">

                    <h1 class="heading bold">About Serve Fresh &amp; Eat Fresh</h1>
                    <hr>
                </div>
            </div>
            <div class="transbox">
                <div class="container">
                    <p>Welcome to Serve Fresh &amp; Eat Fresh, a place for the best Indian food in Toronto.We first opened on January 2, 2016, and we haven’t looked back since. We introduced authentic and traditional Indian food to the Toronto area and have grown into what many say is the best Indian Restaurant for Dine-in,&nbsp; Buffet,&nbsp;Delivery,&nbsp;Pickup and Catering in the area. Our customers appreciate the fact that we are family owned and operated, bringing some of our favorite family recipes and ingredients to our menu. When you walk through our doors, you are greeted as one of the family. If you have special dietary concerns, such as vegetarian,gluten-free or vegan, we are happy to accommodate you. We change our buffet menu daily so you will never be bored and will always be pleasantly surprised with the choices that are available.</p>
                    <p>If you have a special event coming up such as a birthday celebration or business luncheon, we have plenty of room for you in our establishment. Because we have been serving customers in the great city of Toronto and the surrounding area for over two decades, we have catered to thousands of people. In addition to serving the best Indian food to the community, we serve in other ways as well. Little India is involved in a variety of not for profit organizations and charities in the Toronto area. We know how important it is to give back to the community that has supported us for so many years.</p>
                </div>
            </div>
        </div>
    </div>
</section>
