@*  Authors & Student Number:
    Mayank Raval 200300508
    Fei Wang 200278460
    Mayank Bhardwaj 200305245
    Siqian Yu 200286902
    Date Modified: 08-05-2016
    File Description: This is the Contact view page.
*@

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>