@*  Authors & Student Number:
    Mayank Raval 200300508
    Fei Wang 200278460
    Mayank Bhardwaj 200305245
    Siqian Yu 200286902
    Date Modified: 08-05-2016
    File Description: This is the Index view page.
*@
@{
    ViewBag.Title = "Home Page";
}
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>Welcome to </h3>
                <img src="~/Assests/img/logo.gif" alt="Serve Fresh & Eat Fresh" />
                <hr>
                <a href="~/Foods" class="smoothScroll btn btn-danger">Menu</a>
                <a href="~/Home/Contact" class="smoothScroll btn btn-default">Contact</a>
            </div>
        </div>
    </div>
</section>
